    <nav class="navbar navbar-light">
      <ul class="header-navigation">
        <% if user_signed_in? %>
            <li><%= link_to 'トップページ', "#" %></li>
            <li><%= link_to 'ログイン', new_user_session_path %></li>
            <li><%= link_to '使い方', "#" %></li>
            <li><%= link_to 'このサイトについて', "#" %></li>
            <li><%= link_to 'トップページ', "#" %></li>
        <% else %>
            <li><%= link_to 'ホーム', "#" %></li>
            <li><%= link_to '用語解説', "#" %></li>
            <li><%= link_to '使い方', "#" %></li>
            <li><%= link_to '設定', "#" %></li>
            <li><%= link_to 'このサイトについて', "#" %></li>
            <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
        <% end %>
      </ul>
    </nav>
    
<!--    <nav class="navbar navbar-expand-lg navbar-light bg-light">-->
<!--  <div class="container-fluid">-->
<!--    <div class="collapse navbar-collapse" id="navbarNav">-->
<!--      <ul class="navbar-nav">-->
<!--        <li class="nav-item">-->
<!--          <a class="nav-link" href="#">Pricing</a>-->
<!--        </li>-->
<!--        <li class="nav-item">-->
<!--          <a class="nav-link" href="#">Pricing</a>-->
<!--        </li>-->
<!--        <li class="nav-item">-->
<!--          <a class="nav-link" href="#">Pricing</a>-->
<!--        </li>-->
<!--        <li class="nav-item">-->
<!--          <a class="nav-link" href="#">Pricing</a>-->
<!--        </li>-->
<!--      </ul>-->
<!--    </div>-->
<!--  </div>-->
<!--</nav>-->