<div class="users-new-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-4 col-md-4 users-new-container">

        <h1 class="text-center heading">登録する</h1>
        
        <%= form_for @user do |f| %>
          <div class="form-group">
            <%= f.label :name, class: 'guideA' %>
            <%= f.text_field :name, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :email, class: 'guideA' %>
            <%= f.text_field :email, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :password, class: 'guideA' %>
            <%= f.password_field :password, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :password_confirmation, class: 'guideA' %>
            <%= f.password_field :password_confirmation, class: 'form-control' %>
          </div>

          <%= f.submit "登録する", class: 'btn-block btn-white' %>
          
        <% end %>
        <%= link_to 'ログインはこちら', '#',class: 'guideB text-center' %>
        <br><br><br><br>
      </div>
    </div>
  </div>
</div>