<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="“MONEY_STUDIO”は現金だけでなく株式や債券、投資信託、仮想通貨を含めた金融資産のポートフォリオを管理し見える化するサービス。">
    <meta name="viewport" content="width=device-width">
    <title>MONEY_STUDIO</title>
  
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
 <!--↓ハンバーガーメニュー↓-->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              メニュー
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
        </ul>
    </div>
  </div>
</nav>
 
 
    <!--<div id="navbar">-->
    <!--  <span class="nav_toggle">-->
    <!--    <i></i>-->
    <!--    <i></i>-->
    <!--    <i></i>-->
    <!--  </span>-->
    <!--</div>-->
    
    <!--<nav class="nav">-->
    <!--  <ul class="nav_menu_ul">-->
    <!--    <li class="nav_menu_li"><a href="#">トップページ</a></li><!--1-->
    <!--    <li class="nav_menu_li"><a href="#">ログイン</a></li><!--2-->
    <!--    <li class="nav_menu_li"><a href="#">ホーム</a></li><!--3-->
    <!--    <li class="nav_menu_li"><a href="#">用語解説</a></li><!--4-->
    <!--    <li class="nav_menu_li"><a href="#">使い方</a></li><!--5-->
    <!--    <li class="nav_menu_li"><a href="#">設定</a></li><!--6-->
    <!--    <li class="nav_menu_li"><a href="#">このサイトについて</a></li><!--7-->
    <!--    <li class="nav_menu_li"><a href="#">ログアウト</a></li><!--8-->
    <!--  </ul>-->
    <!--</nav>-->
    <!--↑ハンバーガーメニュー↑-->

    <!--アラート追加-->
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>" role="alert"><%= value %></div>
    <% end %>
    <script>
      $(function(){
        $(".alert").fadeOut(5000);
      });
    </script>
    <!--アラート追加-->
    
    <%= yield %>
    
    <footer id="footer">
    	<!--Copyright(c) 20XX Sample Inc. All Rights Reserved.-->
    </footer>
  </body>
</html>