<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="#">
    <meta name="viewport" content="width=device-width">
    <title>MONEY_FOLIO</title>
    
    <!-- BootstrapのCSS読み込み -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- jQuery読み込み -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- BootstrapのJS読み込み -->
    <script src="js/bootstrap.min.js"></script>
    
    <link rel="stylesheet" media="all" href="app/assets/stylesheets/application.scss">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!--↓ハンバーガーメニュー↓-->
    <div id="navbar">
      <span class="nav_toggle">
        <i></i>
        <i></i>
        <i></i>
      </span>
    </div>
    
    <nav class="nav">
      <ul class="nav_menu_ul">
        <li class="nav_menu_li"><a href="#">トップページ</a></li><!--1-->
        <li class="nav_menu_li"><a href="#">ログイン</a></li><!--2-->
        <li class="nav_menu_li"><a href="#">ホーム</a></li><!--3-->
        <li class="nav_menu_li"><a href="#">用語解説</a></li><!--4-->
        <li class="nav_menu_li"><a href="#">使い方</a></li><!--5-->
        <li class="nav_menu_li"><a href="#">設定</a></li><!--6-->
        <li class="nav_menu_li"><a href="#">このサイトについて</a></li><!--7-->
        <li class="nav_menu_li"><a href="#">ログアウト</a></li><!--8-->
      </ul>
    </nav>
    <!--↑ハンバーガーメニュー↑-->

    <!--アラート追加-->
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>" role="alert"><%= value %></div>
    <% end %>
    <script>
      $(function(){
        $(".alert").fadeOut(5000);
      });
    </script>
    <!--アラート追加-->
    
    <%= yield %>
    
    <footer id="footer">
    	<!--Copyright(c) 20XX Sample Inc. All Rights Reserved.-->
    </footer>
  </body>
</html>